<template>
    <b-loading
        :is-full-page="true"
        v-model="isLoading"
        :can-cancel="true"
    ></b-loading>
</template>

<script>
import { mapActions } from "vuex";
import { getInstance } from "../auth/index";

export default {
    data() {
        return {
            isLoading: true,
        };
    },
    created() {
        this.init(this.doSomethingWithAuth0Client);
    },
    methods: {
        init(fn) {
            // have to do this nonsense to make sure auth0Client is ready
            var instance = getInstance();
            instance.$watch("loading", (loading) => {
                if (loading === false) {
                    fn(instance);
                }
            });
        },
        async doSomethingWithAuth0Client(instance) {
            await instance.getUser().then((user) => {
                // após login, salva o usuário no banco de dados local
                this.$store.dispatch("auth/handleAuth0Login", user).then(() => {
                    // Redireciona para a dashboard
                    this.$router.push(`/dashboard`);
                });
            });
        },
    },
};
</script>

<style></style>
