<template>
    <div>
        <div class="container">
            <Navbar />
        </div>

        <section class="hero mt-6 mb-6">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title mb-3">
                        Catálogo de Jogos
                    </h1>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth">
                    <FilterMenu
                        @setLoading="setLoading"
                        @resetPagination="resetPagination"
                    />
                </div>
                <div class="column">
                    <div class="search-container">
                        <b-field>
                            <b-input
                                v-model="searchValue"
                                placeholder="Buscar por nome..."
                                type="search"
                                icon="search"
                                :loading="false"
                                :expanded="true"
                            />
                            <p class="control">
                                <b-button
                                    type="is-danger"
                                    @click="handleGamesSearch"
                                    >Buscar</b-button
                                >
                            </p>
                        </b-field>
                        <b-field>
                            <b-select
                                placeholder="Ordenar por..."
                                v-model="ordering"
                                @input="handleGamesOrdering"
                            >
                                <option value="released">Mais antigos</option>
                                <option value="-released">Mais recentes</option>
                                <option value="-rating"
                                    >Melhor avaliados</option
                                >
                            </b-select>
                        </b-field>
                    </div>
                    <hr />

                    <div class="product-cards" ref="productCards">
                        <b-loading v-model="isLoading" :is-full-page="false" />
                        <ProductCard
                            v-for="game in games.results"
                            :key="game.id"
                            :game="game"
                        />
                    </div>

                    <hr />
                    <b-pagination
                        :total="total"
                        v-model="currentPage"
                        :range-before="rangeBefore"
                        :range-after="rangeAfter"
                        :order="order"
                        :size="size"
                        :simple="isSimple"
                        :rounded="isRounded"
                        :per-page="perPage"
                        :icon-prev="prevIcon"
                        :icon-next="nextIcon"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                        @change="handleGamesPagination"
                    >
                    </b-pagination>
                </div>
            </div>
        </div>

        <Footer />
    </div>
</template>

<script>
import { mapActions } from "vuex";

import Navbar from "@/components/Navbar.vue";
import ProductCard from "@/components/ProductCard.vue";
import FilterMenu from "@/components/FilterMenu.vue";
import Footer from "@/components/Footer.vue";

export default {
    name: "Catalogo",
    props: {},
    components: {
        Navbar,
        ProductCard,
        Footer,
        FilterMenu,
    },
    data() {
        return {
            isLoading: true,
            total: 20,
            currentPage: 1,
            perPage: 20,
            rangeBefore: 3,
            rangeAfter: 1,
            order: "",
            size: "",
            isSimple: false,
            isRounded: false,
            prevIcon: "chevron-left",
            nextIcon: "chevron-right",
            searchValue: "",
            ordering: "-rating",
        };
    },
    methods: {
        ...mapActions(["getGames"]),

        setLoading(value) {
            this.isLoading = value;
        },

        resetPagination() {
            this.currentPage = 1;
        },

        handleGamesPagination() {
            this.isLoading = true;
            this.getGames({ page: this.currentPage }).then(() => {
                this.isLoading = false;
            });
        },

        handleGamesSearch() {
            this.isLoading = true;
            this.getGames({ search: this.searchValue }).then(() => {
                this.isLoading = false;
            });
        },

        handleGamesOrdering() {
            this.isLoading = true;
            this.getGames({ ordering: this.ordering }).then(() => {
                this.isLoading = false;
            });
        },
    },
    mounted() {
        this.isLoading = true;
        this.getGames({ page: 1 }).then(() => {
            this.isLoading = false;
        });
    },
    computed: {
        games: function() {
            // Atualiza data
            this.total = this.$store.state.games.games.count;

            return this.$store.state.games.games;
        },
    },
};
</script>

<style lang="scss" scoped>
.search-container {
    display: flex;
    justify-content: space-between;
}
.hero {
    @include bg-diagonal();
    .title {
        color: white;
        margin-bottom: 0 !important;
    }
}
.breadcrumb li {
    font-size: 0.9rem;
}
.field {
    margin-bottom: 0 !important;
}
.product-cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .card {
        width: calc(25% - 10px);
        margin-top: 10px;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
.loading-icon {
    position: fixed !important;
    top: 80% !important;
}
</style>
