<template>
    <div>
        <div class="container">
            <Navbar />
        </div>

        <section class="hero mt-6 mb-6">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title mb-3">
                        Finalizar Aluguel
                    </h1>
                </div>
            </div>
        </section>

        <div class="container" id="main-container">
            <b-message v-if="products.length == 0">
                Nenhum jogo adicionado ao carrinho.
            </b-message>

            <b-loading :is-full-page="false" v-model="isLoading"></b-loading>

            <div v-if="products.length > 0">
                <b-table :data="products" :hoverable="true">
                    <b-table-column
                        field="id"
                        label="Código"
                        width="40"
                        numeric
                        v-slot="props"
                    >
                        {{ props.row.id }}
                    </b-table-column>

                    <b-table-column
                        field="image"
                        label="Imagem"
                        v-slot="props"
                        width="150"
                    >
                        <figure class="image game-image is-4by3">
                            <img
                                :src="props.row.image"
                                alt="Placeholder image"
                            />
                        </figure>
                    </b-table-column>

                    <b-table-column field="name" label="Nome" v-slot="props">
                        {{ props.row.name }}
                    </b-table-column>

                    <b-table-column field="date" label="Data de Devolução">
                        <span class="tag is-success">
                            {{
                                new Date(
                                    new Date().setDate(
                                        new Date().getDate() + 30
                                    )
                                ).toLocaleDateString("pt-br")
                            }}
                        </span>
                    </b-table-column>
                </b-table>

                <div class="level-right mt-4">
                    <b-button type="is-primary" @click="checkout(products)"
                        >Finalizar Aluguel</b-button
                    >
                </div>
            </div>
        </div>

        <Footer />
    </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";

import Navbar from "@/components/Navbar.vue";
import Footer from "@/components/Footer.vue";

export default {
    name: "Checkout",
    data() {
        return {
            isLoading: false,
        };
    },
    components: {
        Navbar,
        Footer,
    },
    computed: {
        ...mapGetters("cart", {
            products: "cartProducts",
        }),
    },
    methods: {
        checkout(products) {
            this.$buefy.dialog.confirm({
                message: "Deseja confirmar o aluguel?",
                confirmText: "Sim",
                cancelText: "Cancelar",
                onConfirm: () => {
                    this.isLoading = true;

                    setTimeout(() => {
                        this.$store
                            .dispatch("cart/checkout", products)
                            .then(() => {
                                // Redireciona para a dashboard
                                this.$router.push(`/dashboard`);
                            });
                    }, 2000);
                },
            });
        },
    },
};
</script>

<style lang="scss" scoped>
#main-container {
    min-height: 500px;
}
.hero {
    @include bg-diagonal();
    .title {
        color: white;
        margin-bottom: 0 !important;
    }
}
</style>
