<template>
    <div>
        <div class="container">
            <Navbar />
        </div>

        <div class="container mt-5" id="main-container">
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <figure class="image is-128x128">
                        <img class="is-rounded profile-image" :src="$auth.user.picture" />
                    </figure>
                </div>
            </div>

            <div class="columns mt-5">
                <div
                    class="column is-two-thirds"
                    style="padding-right: 1rem !important;"
                >
                    <template>
                        <div class="card shadow-1" style="padding: 1rem;">
                            <b-tabs>
                                <b-tab-item
                                    label="Minhas Informações"
                                    icon="id-card-alt"
                                >
                                    <div class="columns pt-3">
                                        <div class="column">
                                            <h5 class="title is-5 mb-3">Minha Conta</h5>
                                            <hr class="mt-0">
                                            <p><b>Nome:</b> {{ authUser.auth0.name }}</p>
                                            <p><b>Email:</b> {{ authUser.auth0.email }}</p>
                                        </div>
                                        <div class="column">
                                            <div v-if="authUser.plan">
                                                <h5 class="title is-5 mb-3">Meu Plano</h5>
                                                <hr class="mt-0">

                                                <div>
                                                    <article class="media">
                                                        <figure class="media-left">
                                                            <p class="image is-64x64">
                                                                <img v-bind:src="require(`../assets/${meuPlano.image}`)">
                                                            </p>
                                                        </figure>
                                                        <div class="media-content">
                                                            <div class="content">
                                                                <p>
                                                                    <strong>{{ meuPlano.name }}</strong>
                                                                    <br>
                                                                    {{ meuPlano.qtd }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </b-tab-item>
                            </b-tabs>
                        </div>
                    </template>
                </div>
                <div class="column">
                    <div class="card shadow-1" style="padding: 1rem;">
                        <template>
                            <b-tabs>
                                <b-tab-item label="Meus Alugueis" icon="dolly">
                                    <div class="pt-3">
                                        <article
                                            class="media"
                                            v-for="item in authUser.alugueis"
                                            :key="item.id"
                                        >
                                            <figure class="media-left">
                                                <p class="image is-64x64 game-figure">
                                                    <img
                                                        :src="item.image"
                                                        class="is-rounded game-img"
                                                    />
                                                </p>
                                            </figure>
                                            <div class="media-content">
                                                <div class="content">
                                                    <p>
                                                        <strong>{{ item.name }}</strong>
                                                        <br />
                                                    </p>
                                                    <div class="field">
                                                        <b-tag rounded>{{
                                                            item.status
                                                        }}</b-tag>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </b-tab-item>
                            </b-tabs>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <Footer />
    </div>
</template>

<script>
import Footer from "../components/Footer.vue";
import Navbar from "../components/Navbar.vue";

export default {
    components: { Navbar, Footer },
    data() {
        return {
            planos: [
                {
                    name: "Iniciante",
                    image: "gamepad2.svg",
                    qtd: "Mensal",
                },
                {
                    name: "Casual",
                    image: "gaming-chair.svg",
                    qtd: "Semestral",
                },
                {
                    name: "Colecionador",
                    image: "trophy.svg",
                    qtd: "Anual",
                },
            ],
        };
    },
    computed: {
        authUser() {
            return this.$store.state.auth.authUser;
        },
        meuPlano() {
            let plano = this.planos.find(item => item.name == this.authUser.plan.name);
            return plano;
        }
    },
};
</script>

<style lang="scss" scoped>
#main-container {
    min-height: 750px;
}
.hero {
    @include bg-diagonal();
    .title {
        color: white;
        margin-bottom: 0 !important;
    }
}
.profile-image {
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}
.is-half {
    display: flex;
    justify-content: center;
}
.game-figure {
    width: 125px !important;
    height: 70px !important;
    position: relative !important;
    overflow: hidden !important;
}
.game-img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100% !important;
}
</style>
