<template>
    <div class="">
        <div class="container">
            <Navbar />
            <h1 class="title mt-12">Gamebuster</h1>
            <h4 class="subtitle">Alugue seus jogos sem sair de casa</h4>
            <ButtonCta message="Ver catálogo" />
        </div>
        <div class="diagonal-box diagonal-box-color">
            <div class="container">
                <div class="content">
                    <h2 class="title mt-12 has-text-white">Nossos Planos</h2>
                    <div class="plans">
                        <PlanCard
                            cardName="Para começar"
                            name="Iniciante"
                            months="Mensal"
                            price="29,99"
                            priceId="price_1HxiKfJKO1PldM77PDZIY6Gb"
                            imgUrl="gamepad2.svg"
                            class="mt-12"
                        />
                        <PlanCard
                            cardName="Mais vendido"
                            name="Casual"
                            months="Semestral"
                            price="24,99"
                            priceId="price_1HxiJyJKO1PldM77AxKUTMTY"
                            imgUrl="gaming-chair.svg"
                            class="mt-2"
                        />
                        <PlanCard
                            cardName="Melhor preço"
                            name="Colecionador"
                            months="Anual"
                            price="19,99"
                            priceId="price_1HxiIBJKO1PldM77M9C0YwhK"
                            imgUrl="trophy.svg"
                            class="mt-12"
                        />
                    </div>
                </div>
            </div>
        </div>

        <Footer/>

    </div>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import PlanCard from "@/components/PlanCard.vue";
import ButtonCta from "@/components/ButtonCta.vue";
import Footer from "@/components/Footer.vue";

export default {
    name: "home",
    components: {
        Navbar,
        PlanCard,
        ButtonCta,
        Footer
    },
    methods: {},
};
</script>

<style scoped lang="scss">
* {
    --width: 100vw;
    --full-width: 100vw;

    @media (min-width: 42em) {
        --width: 42rem;
    }

    --angle: -11deg;
    --magic-number: 0.09719;
    --skew-padding: calc(var(--width) * var(--magic-number));
    --clip-padding: calc(var(--full-width) * var(--magic-number));
}

.diagonal-box {
    position: relative;
    padding: var(--skew-padding) 0;
    margin-top: -1px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: skewy(var(--angle));
        transform-origin: 50% 0;
        outline: 1px solid transparent;
        backface-visibility: hidden;
    }
}

.diagonal-box-color:before {
    background-image: linear-gradient(-135deg, #61a2f9, #00005a);
}

.content {
    padding: 2em 0 4em 0;
    position: relative;
}

// =======================================================
// PLANOS
// =======================================================

.plans {
    display: flex;
    justify-content: center;
}
</style>
