<template>
    <b-loading
        :is-full-page="true"
        v-model="isLoading"
        :can-cancel="true"
    ></b-loading>
</template>

<script>
import { mapActions } from "vuex";
let stripe = Stripe(process.env.VUE_APP_STRIPE_PUBLISHABLE_KEY);

export default {
    data() {
        return {
            isLoading: true,
        };
    },
    methods: {
        ...mapActions(["createCheckoutSession"]),
    },
    mounted() {
        let authUser = this.$store.state.auth.authUser;
        let { stripeCustomerId } = authUser;
        let priceId = this.$route.params.priceId;

        let data = {
            priceId: priceId,
            stripeCustomerId: stripeCustomerId,
        };

        this.createCheckoutSession(data).then(() => {
            let sessionId = this.$store.getters.checkoutSession;

            stripe
                .redirectToCheckout({
                    sessionId: sessionId,
                })
                .then(function(result) {
                    console.log(result);
                });
        });
    },
};
</script>

<style></style>
