<template>
    <b-loading :is-full-page="true" v-model="isLoading" :can-cancel="true"></b-loading>
</template>

<script>
import { mapActions } from "vuex";
import { getInstance } from "../auth/index";
let stripe = Stripe(process.env.VUE_APP_STRIPE_PUBLISHABLE_KEY);

export default {
    data() {
        return {
            isLoading: true,
        };
    },
    created() {
        this.init(this.doSomethingWithAuth0Client);
    },
    methods: {
        ...mapActions(["getCheckoutSession"]),

        init(fn) {
            // have to do this nonsense to make sure auth0Client is ready
            var instance = getInstance();
            instance.$watch("loading", (loading) => {
                if (loading === false) {
                    fn(instance);
                }
            });
        },
        async doSomethingWithAuth0Client(instance) {
            await instance.getUser().then((user) => {
                let sessionId = this.$route.params.sessionId;

                this.getCheckoutSession(sessionId).then((session) => {
                    this.$store.dispatch("auth/handleAuth0Login", user).then(() => {
                        // Redireciona para a dashboard
                        this.$router.push(`/dashboard`);
                    });
                });
            });
        },
    },
};
</script>

<style></style>
