<template>
    <a class="cta-home mt-3" href="/catalogo">
        <span class="content">{{ message }}</span>
        <b-icon
            pack="fa"
            icon="arrow-right"
            size="is-small">
        </b-icon>
    </a>
</template>

<script>
export default {
    name: "ButtonCta",
    props: {
        message: String,
    },
}
</script>

<style scoped lang="scss">
.cta-home {
	border-radius: 4px;
	border: 2px solid $main-color-lighten-1;
    color: white !important;
    display: inline-block;
    background: $main-color-lighten-1;
	overflow: hidden;
	padding: 16px 60px 16px 16px;
	position: relative;
	text-decoration: none;
    line-height: 1;
	.content {
        margin: 0;
		font-size: 1em;
		line-height: 1.2;
		padding: 0 26px;
		position: relative;
		right: 0;
		transition: right 300ms ease;
		display: block;
		text-align: left;
	}
	.icon {
		border-left: 2px solid white;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transition: all 300ms ease;
		transform: translateY(-50%);
		width: 58px;
		height: 70%;
		i {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $main-color;
		opacity: 0;
		transition: opacity 300ms ease;
	}
	&:hover {
		.content {
			right: 100%;
		}
		.icon {
			border-left: 0;
			font-size: 1.8em;
			width: 100%;
		}
		&:after {
			opacity: .2;
		}
    }
    &:active {
        box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #717171, 0 0 0 6px rgba(255,255,255,0.5) !important;
        outline: none !important;
        -webkit-transition: box-shadow 0.2s ease !important;
        -moz-transition: box-shadow 0.2s ease !important;
        transition: box-shadow 0.2s ease !important;
        background-color: $main-color;
    }
}
</style>