<template>
    <div>
        <div class="card">
            <b-collapse animation="slide" aria-id="contentIdForA11y3">
                <div
                    slot="trigger"
                    slot-scope="props"
                    class="card-header"
                    role="button"
                    aria-controls="contentIdForA11y3"
                >
                    <p class="card-header-title">
                        Plataformas
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'chevron-down' : 'chevron-up'"
                        />
                    </a>
                </div>
                <div class="card-content">
                    <div class="content">
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="platforms"
                                @input="filterChanged('platforms')"
                                native-value="16"
                                >Playstation 3</b-checkbox
                            >
                        </div>
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="platforms"
                                @input="filterChanged('platforms')"
                                native-value="18"
                                >Playstation 4</b-checkbox
                            >
                        </div>
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="platforms"
                                @input="filterChanged('platforms')"
                                native-value="187"
                                >Playstation 5</b-checkbox
                            >
                        </div>
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="platforms"
                                @input="filterChanged('platforms')"
                                native-value="14"
                                >Xbox 360</b-checkbox
                            >
                        </div>
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="platforms"
                                @input="filterChanged('platforms')"
                                native-value="1"
                                >Xbox One</b-checkbox
                            >
                        </div>
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="platforms"
                                @input="filterChanged('platforms')"
                                native-value="186"
                                >Xbox Series X</b-checkbox
                            >
                        </div>
                    </div>
                </div>
            </b-collapse>
            <b-collapse animation="slide" aria-id="contentIdForA11y3">
                <div
                    slot="trigger"
                    slot-scope="props"
                    class="card-header"
                    role="button"
                    aria-controls="contentIdForA11y3"
                >
                    <p class="card-header-title">
                        Desenvolvedoras
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            :icon="props.open ? 'chevron-down' : 'chevron-up'"
                        />
                    </a>
                </div>
                <div class="card-content">
                    <div class="content">
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="developers"
                                @input="filterChanged('developers')"
                                native-value="405"
                            >
                                Ubisoft
                            </b-checkbox>
                        </div>
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="developers"
                                @input="filterChanged('developers')"
                                native-value="13071"
                            >
                                Naughty Dog</b-checkbox
                            >
                        </div>
                        <div class="field">
                            <b-checkbox
                                size="is-small"
                                v-model="developers"
                                @input="filterChanged('developers')"
                                native-value="9023"
                            >
                                CD Projekt Red</b-checkbox
                            >
                        </div>
                    </div>
                </div>
            </b-collapse>
        </div>
        <!-- end card -->
    </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "FilterMenu",
    data() {
        return {
            platforms: [],
            developers: [],
        };
    },
    methods: {
        ...mapActions(["getGames"]),

        filterChanged(type) {
            this.$emit("resetPagination");
            this.$emit("setLoading", true);

            let params;

            switch (type) {
                case 'platforms':
                    let platforms = this.platforms.join(",");
                    params = { platforms: platforms, page: 1 };
                    break;
                case 'developers':
                    let developers = this.developers.join(",");
                    params = { developers: developers, page: 1 };
                    break;
                default:
                    break;
            }

            this.getGames(params).then(() => {
                this.$emit("setLoading", false);
            });
        },
    },
};
</script>

<style lang="scss" scoped>
.collapse:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
}
</style>
