<template>
    <!-- Footer -->
    <footer class="page-footer font-small grey-color mt-24">
        <div class="pink-color">
            <div class="container">
                <!-- Grid row-->
                <div class="columns">
                    <!-- Grid column -->
                    <div class="column has-text-left" style="margin: auto">
                        <h6 class="">
                            Conecte-se conosco através de nossas redes sociais!
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="column has-text-right">
                        <!-- Facebook -->
                        <a class="icons-links" href="#!">
                            <b-icon
                                pack="fab"
                                icon="facebook-square"
                                size="is-medium"
                            ></b-icon>
                        </a>

                        <!--Instagram-->
                        <a class="icons-links" href="#!">
                            <b-icon
                                pack="fab"
                                icon="instagram"
                                size="is-medium"
                            ></b-icon>
                        </a>

                        <!--Whats App-->
                        <a class="icons-links" href="#!">
                            <b-icon
                                pack="fab"
                                icon="whatsapp"
                                size="is-medium"
                            ></b-icon>
                        </a>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </div>
        </div>

        <!-- Footer Links -->
        <div class="container has-text-left mt-5">
            <!-- Grid row -->
            <div class="columns mt-3">
                <!-- Grid column -->
                <div class="column">
                    <!-- Content -->
                    <h6 class="font-weight-bold">Gamebuster</h6>
                    <hr class="mt-0" style="width: 60px" />
                    <p></p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="column">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Links</h6>
                    <hr class="mt-0" style="width: 60px" />
                    <p>
                        <a class="footer-links" href="#!">Sobre</a>
                    </p>
                    <p>
                        <a class="footer-links" href="#!">Plano</a>
                    </p>
                    <p>
                        <a class="footer-links" href="/catalogo">Catálogo</a>
                    </p>
                    <p>
                        <a class="footer-links" href="#!">Minha Conta</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="column">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contato</h6>
                    <hr class="mt-0" style="width: 60px" />
                    <p>Sorocaba - SP, Brasil</p>
                    <p>support@gamebuster.com.br</p>
                    <p>+ 0800 000 0000</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright has-text-centered grey-dark-color mt-6">
            © 2020 Copyright:
            <a class="footer-links" href="/">Gamebuster</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</template>

<script>
export default {
    name: "Footer",
};
</script>

<style scoped lang="scss">

// Colors
.pink-color {
    color: white !important;
    background-color: #f14668 !important;
}

.grey-color {
    color: white !important;
    background-color: #212529 !important;
}

.grey-dark-color {
    color: white !important;
    background-color: #343a40 !important;
}

// Footer Style

a {
    color: white;
}

.footer-links:hover {
    color: #f14668 !important;
}

.icons-links:hover {
    color: #00005a !important;
}

.footer-copyright {
    padding: 10px 0 !important;
}
</style>