<template>
    <b-navbar>
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="@/assets/gamepad_128.png"
                    alt="Gamebuster Logo"
                    height="50"
                />
            </b-navbar-item>
        </template>

        <template slot="start">
            <div class="circle"></div>

            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                Sobre
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                Planos
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/catalogo' }">
                Catálogo de Jogos
            </b-navbar-item>
        </template>

        <template slot="end">
            <b-navbar-item tag="router-link" :to="{ path: '/checkout' }">
                <shopping-cart />
            </b-navbar-item>
            <b-navbar-item tag="div">
                <div class="buttons" v-if="!$auth.isAuthenticated">
                    <a class="button is-danger" @click="login">
                        <strong>Entrar</strong>
                    </a>
                </div>
                <div class="buttons" v-else>
                    <profile-dropdown />
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
import ProfileDropdown from "@/components/ProfileDropdown";
import ShoppingCart from "./ShoppingCart.vue";

export default {
    name: "Navbar",
    components: {
        ProfileDropdown,
        ShoppingCart,
    },
    props: {},
    methods: {
        // Log the user in
        login() {
            this.$auth.loginWithRedirect({
                redirect_uri: `${process.env.VUE_APP_URL}/auth0callback`,
            });
        },
    },
};
</script>

<style lang="scss">
a.navbar-item:not(.dropdown-item) {
    margin-right: 1rem;
}
.navbar {
    height: 0;
    display: flex;
    align-items: center;
}
.navbar-item {
    padding: 15px !important;
    margin: 0;
    line-height: 0 !important;
    height: 40px;
}
.navbar-start .navbar-item:hover,
.navbar-link:hover {
    background-color: #eaeaea !important;
    border-radius: 5px;
}

.navbar-item img {
    max-height: 4rem !important;
}

.circle {
    border: 5px dotted #f6e266;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute;
    top: -10px;
    right: 30px;
}
</style>
