<template>
    <div class="card plan-card">
        <div class="plan-deal">
            <span>{{ cardName }}</span>
        </div>
        <div class="card-body">
            <img
                v-bind:src="require(`../assets/${imgUrl}`)"
                alt="Gamebuster Logo"
                height="50"
                class="mt-2"
            />
            <h4>{{ name }}</h4>
            <h4>{{ months }}</h4>
            <h4 class="plan-price">
                <span>R$</span>
                <span>{{ price }}</span>
                <span>/mês</span>
            </h4>
            <a
                href="#!"
                class="btn btn-main text-uppercase btn-buy"
                @click="buySubscription"
                >Comprar</a
            >
        </div>
    </div>
</template>

<script>
export default {
    name: "PlanCard",
    props: {
        cardName: String,
        name: String,
        months: String,
        price: String,
        priceId: String,
        imgUrl: String,
    },
    methods: {
        buySubscription() {
            // Redireciona para a página de checkout
            this.$router.push(`/buy-plan/${this.priceId}`);
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
// =======================================================
// Plan Card
// =======================================================

.plan-card {
    width: 18rem;
    align-self: flex-end;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .card-body {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 90px;
            margin-bottom: 0.5rem;
        }
    }
    .plan-price {
        font-weight: 500 !important;
        margin: 1rem 0;
        span {
            &:first-of-type,
            &:last-of-type {
                font-size: 14px;
            }
            &:nth-child(2) {
                font-size: 2rem;
            }
            &::last-of-type {
                color: #9a9a9a;
            }
        }
    }
    .plan-description {
        text-align: center;
        width: 200px;
    }
    &:not(:last-of-type) {
        margin-right: 30px;
    }
    &:nth-of-type(2) {
        align-self: flex-start;
    }
    h4 {
        margin-top: 0.2rem;
    }
    .btn-buy {
        padding: 0.5rem 2rem !important;
        margin-top: 1rem;
        margin-bottom: 2rem;
        background-color: white !important;
        color: #00005a;
        border: 2px solid #00005a;
        font-weight: 500;
        &:hover {
            background-color: #00005a !important;
            color: white;
            opacity: 1;
        }
    }
}
.plan-deal {
    text-align: center;
    padding: 12px 0;
    background-color: #f14668;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
</style>
