<template>
    <div class="card shadow-1">
        <div class="card-image">
            <figure class="image is-4by3">
                <img :src="game.background_image" alt="Placeholder image" />
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-6 mb-3">{{ game.name }}</p>
                    <StarRating :rate="Math.floor(game.rating)" />
                    <b-button
                        size="is-small"
                        icon-left="shopping-cart"
                        @click="addToCart(game)"
                    >
                        Adicionar
                    </b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import StarRating from "@/components/StarRating";

export default {
    name: "ProductCard",
    components: {
        StarRating,
    },
    props: {
        game: Object,
    },
    computed: mapState({
        products: (state) => state.products.all,
    }),
    methods: {
        ...mapActions("cart", ["addProductToCart"]),

        addToCart(game) {
            if (
                !this.$auth.isAuthenticated ||
                this.$store.state.auth.authUser.plan == null
            ) {
                this.$buefy.toast.open({
                    duration: 5000,
                    message: `Você precisa estar logado e ter um plano para adicionar um item ao carrinho.`,
                    type: "is-danger",
                });
            }
            else {
                this.addProductToCart(game).then(() => {
                    this.$buefy.toast.open('Item adicionado ao carrinho');
                });
            }
        },
    },
};
</script>

<style lang="scss" scoped>
$border-radius: 4px;
.card {
    border-radius: $border-radius;
}
.image img {
    object-fit: cover;
    border-radius: $border-radius;
}
</style>
