<template>
    <section>
        <b-dropdown
            position="is-bottom-left"
            v-model="currentMenu"
            aria-role="list"
            append-to-body
        >
            <div slot="trigger">
                <img :src="$auth.user.picture" class="profile-icon" />
            </div>

            <!-- Dashboard -->
            <b-dropdown-item has-link aria-role="listitem">
                <router-link :to="{ path: '/dashboard' }">
                    <div class="media">
                        <b-icon class="media-left" icon="home"></b-icon>
                        <div class="media-content">
                            <h3>Dashboard</h3>
                        </div>
                    </div>
                </router-link>
            </b-dropdown-item>

            <!-- Logout -->
            <b-dropdown-item aria-role="listitem" @click="logout">
                <div class="media">
                    <b-icon class="media-left" icon="sign-out-alt"></b-icon>
                    <div class="media-content">
                        <h3>Logout</h3>
                    </div>
                </div>
            </b-dropdown-item>
        </b-dropdown>
    </section>
</template>

<script>
export default {
    data() {
        return {
            currentMenu: { icon: "account-group", text: "People" },
        };
    },
    methods: {
        // Log the user out
        logout() {
            this.$auth.logout({
                returnTo: window.location.origin,
            });
        },
    },
};
</script>

<style lang="scss" scoped>
.profile-icon {
    margin-top: -10px;
    border-radius: 50%;
    height: 50px;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    &:hover {
        cursor: pointer;
    }
}
.media-content {
    padding-top: 1px;
}
</style>
