<template>
    <div>
        <img src="@/assets/cart-outline.svg" height="70" class="cart-icon" />
        <span class="badge">{{ products.length }}</span>
    </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
    computed: {
        ...mapGetters("cart", {
            products: "cartProducts",
        }),
    },
};
</script>

<style lang="scss" scoped>
.cart-icon {
    height: 30px;
}
.badge {
    border-radius: 50%;
    font-size: 12px;
    background: #f14668;
    color: #fff;
    padding: 2px 6px;
    vertical-align: top;
    margin-left: -10px;
}
</style>
