<template>
    <b-rate
        v-model="this.rate"
        :icon-pack="packs"
        :icon="icons"
        :max="maxs"
        :show-score="true"
        :custom-text="custom"
        :show-text="text"
        :texts="texts"
        :disabled="true"
    >
    </b-rate>
</template>
<script>
export default {
    name: "StarRate",
    props: {
        rate: Number,
    },
    data() {
        return {
            maxs: 5,
            packs: 'fa',
            icons: 'star',
            custom: '',
            text: false,
            texts: ['Very bad', 'Bad', 'Good', 'Very good', 'Awesome'],
        };
    },
};
</script>
