// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// =======================================================
// CARD
// =======================================================

$card-content-padding: 1rem;
$primary: #385EB6;

// Card Shadow types
$card-shadow: none;
$card-header-shadow: none;

// Ajustes e Novas classes
.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
}
.shadow-1 {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) !important;
}

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
