// =======================================================
// GERAL
// =======================================================

#app {
    font-family: $font-open-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    padding-top: 2rem;
}

.mt-12 {
    margin-top: 6rem;
}
.mt-24 {
    margin-top: 12rem;
}
